# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build directory
build/
.kdev4/
*.kdev4

# CMake user file
CMakeLists.txt.user
